#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#avatar{
  margin: auto;
  width: 200px;
  height: 200px;
}


#btnIngresar {
  --background: #7ad172;
  --background-hover: #7ad172;
  --background-activated: #7ad172;
  --background-focused: #7ad172;
  
  --color: white;
  --ripple-color: rgb(0, 97, 24);
  width: 250px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-card{
  padding-bottom: 10px;
}

#enlaceRe{
  margin-right: 250px;
}

