#btnVolver {
    --background: #7ad172;
    --background-hover: #7ad172;
    --background-activated: #7ad172;
    --background-focused: #7ad172;
    
    --color: white;
    --ripple-color: rgb(0, 97, 24);
    --padding-top: 20px;
    --padding-bottom: 20px;
  }

  #btnEscanear {
    --background: #7ad172;
    --background-hover: #7ad172;
    --background-activated: #7ad172;
    --background-focused: #7ad172;
    
    --color: white;
    --ripple-color: rgb(0, 97, 24);
    --padding-top: 20px;
    --padding-bottom: 20px;
  }